/* main container*/
#home {
  background-image: url("pics/seasky.jpeg");
  background-color: white;
  background-repeat: repeat-x;
  background-size:;
  height: 254px;
}
/*OPAQUE FOREGROUND*/
#foreground {
   color: white;
   height: 254px;
   background-color: rgba(51,51,51,.8);
}

.about {
  display:block;
  text-align:center;
}
#headshot {
  border: 5px solid black;
  width: 180px;
  margin-top: 10px;
}

#glyphrow {
  padding-top: 20px;
  display:block;
  text-align:center;
}

#main {
  margin-top: 75px;
  text-align: center;
}
