@font-face {
  font-family: fairview;
  src: url(fonts/Fairview_Regular.otf);
}
@font-face {
  font-family: maven;
  src: url(fonts/MavenProLight-300.otf);
}
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body {
  background-color: rgb(51,51,51);
  color:white;
}
.glyphicon > img {
  height: 30px;
  width: 30px;
}
