.project-header {
  font-family: fairview;
  text-align: center;
}
.desc-head {
  font-family: fairview;
  font-size: 25px;
}
.tech-head {
  font-family: fairview;
  font-size: 25px;
}
/*mockup imgs*/
#letsBrick {
  width: 75%;

}
#homeventory {
  width: 250px;
}
/*additional panel styles*/
.panel {
  color:black;
  padding-left: 5px;
  padding-right: 5px;
  font-family: maven;
}
.panel-body {
  margin-top: 50px;
  text-align:center;
}
.tech {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.tech-img {
  width: 100px;
}
.desc {
  text-align: left;
}
.projects {
  text-align: center;
}
